* {
    box-sizing: border-box;
}

.mdl-layout {
    padding: 10px 20px;
}

.mdl-textfield {
    width: 400px;
}

.clear {
    display: block;
    clear: both;
}


/* magnific popup */

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}


/* custom file input */

.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 400px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}

.mdl-textfield--file .mdl-button--file {
    right: 0;
}
